#main {
    width: 350px;
    height: 280px;
    background-image: url("img/IMG_20180805_091518.jpg");
    font-family: 'Gotu', sans-serif;
}

input {
    width: 20%;
    height: 40px;
    font-size: 20px;
    margin: 6px;
    font-family: 'Gotu', sans-serif;
}

#inputnums {
    width: 96%;
    background-color: rgba(48, 144, 161, 0.5);
    color: white;
}
